In [58]:
import numpy as np
import pandas as pd

In [59]:
df = pd.read_csv('gemstone.csv')
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [60]:
df = df.drop(labels = ['id'], axis = 1)
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [61]:
# Independent features
X = df.drop(labels = ['price'], axis = 1)
X

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [62]:
# Target variable
y = df['price']
y

0         13619
1         13387
2          2772
3           666
4         14453
          ...
193568     1130
193569     2874
193570     3036
193571      681
193572     2258
Name: price, Length: 193573, dtype: int64

In [63]:
cat_cols = X.columns[X.dtypes == 'object']
num_cols = X.columns[X.dtypes != 'object']

print('Categorical Columns:', cat_cols)
print('Numerical Columns:', num_cols)

Categorical Columns: Index(['cut', 'color', 'clarity'], dtype='object')
Numerical Columns: Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [64]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder

In [65]:
features = scaled_features[num_cols]
scaler = StandardScaler().fit(features.values)
features = scaler.transform(features.values)
X[num_cols] = features
X.head(20)

,carat,cut,color,clarity,depth,table,x,y,z
0,1.576255,Premium,F,VS2,0.350768,0.402496,1.401353,1.460456,1.474414
1,2.678513,Very Good,J,SI2,0.165874,0.402496,2.113437,2.177120,2.200187
2,-0.196003,Ideal,G,VS1,-0.573702,-0.118652,-0.022816,0.008986,-0.049710
3,-1.017293,Ideal,G,VS1,-0.203914,-0.639801,-1.203614,-1.188477,-1.196432
4,1.965288,Premium,G,VS2,0.720555,0.923644,1.743874,1.714463,1.793754
5,1.554642,Very Good,J,SI1,0.905449,0.402496,1.464449,1.424169,1.532476
6,-0.109551,Ideal,E,VS2,-0.019020,-0.118652,0.040280,0.063416,0.051898
7,1.187223,Premium,G,SI2,0.628108,-0.118652,1.157982,1.206449,1.227651
8,-1.060519,Ideal,F,IF,0.165874,-0.639801,-1.230655,-1.224764,-1.210947
9,-1.060519,Good,J,VS1,1.645025,-0.118652,-1.311778,-1.306409,-1.181917
10,0.473997,Very Good,G,VS2,1.182790,-0.118652,0.617159,0.562359,0.719610
11,-1.211809,Ideal,E,VVS2,0.165874,-0.118652,-1.582190,-1.578559,-1.559319
12,0.473997,Good,D,SI1,1.182790,-0.639801,0.626173,0.571431,0.719610
13,-1.038906,Ideal,G,VVS1,-0.019020,-0.639801,-1.212627,-1.206620,-1.196432
14,0.473997,Good,H,SI1,0.720555,0.923644,0.563076,0.616789,0.661548
15,-0.995680,Premium,E,VS2,-0.111467,0.923644,-1.194600,-1.170333,-1.181917
16,0.582062,Premium,E,SI2,-0.851043,0.923644,0.806447,0.761936,0.690579
17,-1.146971,Very Good,F,VVS2,-0.111467,-0.118652,-1.455998,-1.442484,-1.457710
18,0.473997,Premium,G,VVS1,-0.019020,0.402496,0.653214,0.589574,0.618001
19,-0.131164,Very Good,G,VS2,1.182790,-0.118652,0.049294,0.027129,0.138991

In [67]:
features = scaled_features[cat_cols]
scaler = OrdinalEncoder().fit(features.values)
features = scaler.transform(features.values)
X[cat_cols] = features
X.head(20)

,carat,cut,color,clarity,depth,table,x,y,z
0,1.576255,3.0,2.0,5.0,0.350768,0.402496,1.401353,1.460456,1.474414
1,2.678513,4.0,6.0,3.0,0.165874,0.402496,2.113437,2.177120,2.200187
2,-0.196003,2.0,3.0,4.0,-0.573702,-0.118652,-0.022816,0.008986,-0.049710
3,-1.017293,2.0,3.0,4.0,-0.203914,-0.639801,-1.203614,-1.188477,-1.196432
4,1.965288,3.0,3.0,5.0,0.720555,0.923644,1.743874,1.714463,1.793754
5,1.554642,4.0,6.0,2.0,0.905449,0.402496,1.464449,1.424169,1.532476
6,-0.109551,2.0,1.0,5.0,-0.019020,-0.118652,0.040280,0.063416,0.051898
7,1.187223,3.0,3.0,3.0,0.628108,-0.118652,1.157982,1.206449,1.227651
8,-1.060519,2.0,2.0,1.0,0.165874,-0.639801,-1.230655,-1.224764,-1.210947
9,-1.060519,1.0,6.0,4.0,1.645025,-0.118652,-1.311778,-1.306409,-1.181917
10,0.473997,4.0,3.0,5.0,1.182790,-0.118652,0.617159,0.562359,0.719610
11,-1.211809,2.0,1.0,7.0,0.165874,-0.118652,-1.582190,-1.578559,-1.559319
12,0.473997,1.0,0.0,2.0,1.182790,-0.639801,0.626173,0.571431,0.719610
13,-1.038906,2.0,3.0,6.0,-0.019020,-0.639801,-1.212627,-1.206620,-1.196432
14,0.473997,1.0,4.0,2.0,0.720555,0.923644,0.563076,0.616789,0.661548
15,-0.995680,3.0,1.0,5.0,-0.111467,0.923644,-1.194600,-1.170333,-1.181917
16,0.582062,3.0,1.0,3.0,-0.851043,0.923644,0.806447,0.761936,0.690579
17,-1.146971,4.0,2.0,7.0,-0.111467,-0.118652,-1.455998,-1.442484,-1.457710
18,0.473997,3.0,3.0,6.0,-0.019020,0.402496,0.653214,0.589574,0.618001
19,-0.131164,4.0,3.0,5.0,1.182790,-0.118652,0.049294,0.027129,0.138991

In [69]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [70]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [74]:
X_train.head()

,carat,cut,color,clarity,depth,table,x,y,z
11504,-0.822777,2.0,1.0,7.0,-1.128383,-0.639801,-0.779969,-0.834681,-0.877092
95284,0.949481,4.0,4.0,4.0,-1.775512,0.923644,1.076859,1.170162,0.951857
184777,1.965288,3.0,4.0,5.0,0.165874,0.402496,1.707819,1.759822,1.750208
5419,-0.995680,2.0,2.0,6.0,-0.573702,-0.639801,-1.122490,-1.161262,-1.167401
45466,-0.995680,4.0,5.0,2.0,0.258321,0.402496,-1.176572,-1.152190,-1.138370

In [76]:
def model_evaluation(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [92]:
models={
    'Linear Regression':LinearRegression(),
    'Lasso Regression':Lasso(),
    'Ridge Regression':Ridge()
}

#print(len(models))

trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(models)):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=model_evaluation(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('-'*30)
    print('\n')

Linear Regression
Model Performance
RMSE: 1108.371070612037
MAE: 708.9553661559236
R2 score 92.39746882209441
------------------------------


Lasso Regression
Model Performance
RMSE: 1108.397281214983
MAE: 710.0043641750832
R2 score 92.39710925067021
------------------------------


Ridge Regression
Model Performance
RMSE: 1108.3775427479595
MAE: 708.9794817603324
R2 score 92.39738003457532
------------------------------